# Test output
test-results

# Dependencies
node_modules

# Build output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Environment files (exceptions to root .gitignore)
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
